{% extends "users/base.html" %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f6fa;
        margin-top: 70px;
    }
    form label{
        color: #0e0d0d;
    }
    .container1 {
        width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card-header {
        background: #3498db;
        color: white;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }
    .card-body {
        padding: 10px;
    }
    
    .btn {
        width: 100%;
        padding: 0.8rem;;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s;
    }
    .btn:hover {
        background-color:  #2980b9;
    }
</style>
    <div class="container1">
        <div class="card-header">
            <h3>Change Password</h3>
        </div>
        <div class="card-body">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_old_password">Old Password</label>
                    <input type="password" name="old_password" autocomplete="new-password"
                           class="form-control" required id="id_old_password"
                           placeholder="Enter Old Password"/>
                </div>
                <div class="form-group">
                    <label for="id_new_password1">New Password</label>
                    <input type="password" name="new_password1" autocomplete="new-password"
                           class="form-control" required id="id_new_password1"
                           placeholder="Enter New Password"/>
                </div>
                <div class="form-group">
                    <label for="id_new_password2">New Password Confirmation</label>
                    <input type="password" name="new_password2" autocomplete="new-password"
                           required id="id_new_password2" class="form-control"
                           placeholder="Confirm New Password"/>
                </div>
                <hr>
                <div class="form-group text-center">
                    <button type="submit" class="btn">Update Password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}